.nav{
    background-color: purple;
}
a:visited{
    color: white;
}
a:hover{
    color: white;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .space{
      margin-left: 20px;
      text-align: center;
  }
  button{
  margin-left: 20px;
  }
  #btn{
      position: absolute;
      right: 30px;
      background-color: blue;
      color: white;
  }
  .container{
      margin-top: 100px;
  }
table{
    margin-top: 30px;
  }
  